.main-btn-big {
  width: 170px;
  min-height: 53px;
  background: #998675;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 3px;
  text-transform: uppercase;
  font: 800 14px/23px Raleway, Arial, sans-serif;
}
.main-btn-big:hover {
  border: 1px solid #998675;
  background: #fff;
  color: #998675;
}
.main-btn-big:active {
  background: #998675;
  color: #fff;
}
.main-btn-small {
  padding: 5px 19px;
  background: #fff;
  color: #8c8c8c;
  border: 1px solid #ebebeb;
  outline: none;
  border-radius: 3px;
  text-transform: capitalize;
  font: 300 14px/21px Montserrat, Arial, sans-serif;
}
.main-btn-small:hover {
  background: #998675;
  color: #fff;
}
.main-btn-small:active {
  background: #fff;
  color: #998675;
}
.container {
  width: 1920px;
  margin: 0 auto;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPN-Co.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwN4raqE.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwPIsaqE.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwJYtaqE.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwIouaqE.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPN-Co.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwN4raqE.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwPIsaqE.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwJYtaqE.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwIouaqE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_aZA7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPN-Co.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwN4raqE.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwPIsaqE.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwJYtaqE.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwIouaqE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
.main-header {
  min-height: 1024px;
  padding: 40px 150px;
  background: url(../img/header_bg_photo.jpg) center / cover no-repeat #555;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main-header-wrp {
  width: 1170px;
  margin: 0 auto 285px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main-header-wrp .logo {
  width: 181px;
  margin: 0 219px 0 0;
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.main-header-wrp .logo-icon {
  fill: #fff;
}
.main-header-wrp .logo-caption {
  color: #fff;
  text-transform: capitalize;
  font: 400 34px/1.2 Raleway, Arial, sans-serif;
}
.main-header-wrp .logo:hover .logo-icon {
  fill: #c7b299;
}
.main-header-wrp .logo:hover .logo-caption {
  color: #c7b299;
}
.main-header-wrp .logo:active .logo-icon {
  fill: #f4a034;
}
.main-header-wrp .logo:active .logo-caption {
  color: #f4a034;
}
.main-header-wrp .main-menu {
  width: 637px;
  margin: 0 63px 0 0;
}
.main-header-wrp .main-menu-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main-header-wrp .main-menu-list-item {
  list-style: none;
}
.main-header-wrp .main-menu-list-item-link {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  font: 300 14px/1.2 Montserrat, Arial, sans-serif;
}
.main-header-wrp .main-menu-list-item-link:hover {
  color: #c7b299;
}
.main-header-wrp .main-menu-list-item-link:active {
  color: #f4a034;
}
.main-header-wrp .main-header-cart {
  padding: 0;
  margin: 0 24px 0 0;
  background: transparent;
  border: none;
  fill: #fff;
  cursor: pointer;
}
.main-header-wrp .main-header-cart:hover {
  fill: #c7b299;
}
.main-header-wrp .main-header-cart:active {
  fill: #f4a034;
}
.main-header-wrp .main-header-form-search {
  width: 24px;
  height: 24px;
  outline: none;
  border: none;
  color: #fff;
  background: url(../img/test_layout_icon_search.png) center / cover no-repeat transparent;
}
.carousel {
  margin: 0 0 306px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.carousel-arrow {
  display: block;
  width: 40px;
  min-height: 73px;
  position: relative;
}
.carousel-arrow:after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
  left: -25px;
  opacity: .5;
  color: #fff;
}
.carousel-arrow:hover:after {
  border-top: 2px solid #c7b299;
  border-right: 2px solid #c7b299;
}
.carousel-arrow:active:after {
  border-top: 2px solid #f4a034;
  border-right: 2px solid #f4a034;
}
.carousel-arrow:first-child {
  transform: rotateY(180deg);
}
.carousel-slogan {
  width: 589px;
  margin: 0 475px;
  text-align: center;
}
.carousel-slogan-mark {
  margin: 0 0 14px 0;
  color: #fff;
  font: 500 35px/1.2 Raleway, Arial, sans-serif;
}
.carousel-slogan-title {
  margin: 0 0 7px 0;
  color: #fff;
  font: 800 52px/1.2 Raleway, Arial, sans-serif;
}
.carousel-slogan-txt {
  margin: 0 0 52px 0;
  color: #fff;
  font: 300 16px/22px Montserrat, Arial, sans-serif;
}
.carousel-pagination {
  width: 98px;
  margin: 0 auto;
  position: relative;
  top: 317px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.carousel-pagination-elem {
  width: 7px;
  height: 7px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: #fff;
  opacity: .5;
}
.carousel-pagination-elem:hover {
  transform: scale(1.6);
  background: transparent;
  border: 2px solid #d3c1ad;
}
.services {
  padding: 80px 377px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.services-card {
  width: 268px;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.services-card-icon {
  margin: 0 0 29px 0;
  fill: #555;
}
.services-card-title {
  display: block;
  margin: 0 0 14px 0;
  color: #555;
  font: 600 22px/1.2 Raleway, Arial, sans-serif;
}
.services-card-text {
  margin: 0 0 30px 0;
  text-align: center;
  color: #8c8c8c;
  font: 300 14px/21px Montserrat, Arial, sans-serif;
}
.services-card:hover .services-card-icon {
  fill: #c7b299;
}
.services-card:hover .services-card-title {
  color: #c7b299;
}
.services-card::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background: #f1eee9;
}
.services-card:hover::after {
  background: #c7b299;
}
.ideas {
  min-height: 700px;
  padding: 83px 581px 0;
  background-color: #fbfaf8;
  background: url(../img/ideas_bg_img.jpg) bottom / 1230px 482px no-repeat #fbfaf8;
}
.ideas-title {
  width: 769px;
  margin: 0 0 24px 0;
  color: #555;
  text-align: center;
  font: 600 30px/1.2 Raleway, Arial, sans-serif;
}
.ideas-text {
  width: 769px;
  color: #8c8c8c;
  text-align: center;
  font: 300 16px/28px Montserrat, Arial, sans-serif;
}
.theme-purchase {
  padding: 48px 375px;
  background-color: #f4f5f8;
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.theme-purchase-wrp {
  width: 530px;
}
.theme-purchase-wrp-title {
  text-transform: capitalize;
  color: #c7b299;
  font: 400 28px/1.2 Raleway, Arial, sans-serif;
}
.theme-purchase-wrp-title-part {
  color: #fff;
}
.theme-purchase-wrp-text {
  margin: 0;
  color: #615855;
  font: 300 18px/1.2 Montserrat, Arial, sans-serif;
}
.counters {
  padding: 69px 504px 60px 496px;
  background-color: #f4f585;
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.counters-item {
  width: 136px;
  margin: 0;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.counters-item-icon {
  margin: 0 0 26px 0;
  fill: #c7b299;
}
.counters-item-caption {
  text-align: center;
}
.counters-item-caption-count {
  display: block;
  margin: 0 0 10px 0;
  color: #fff;
  font: 200 48px/36px Montserrat, Arial, sans-serif;
}
.counters-item-caption-descr {
  display: block;
  text-transform: uppercase;
  margin: 0 0 30px 0;
  color: #c7b299;
  font: 300 14px/20px Montserrat, Arial, sans-serif;
}
.counters .counters-item::after {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
}
.projects {
  padding: 80px 377px;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.projects-title {
  margin: 0 0 14px 0;
  color: #555;
  font: 600 30px/1.2 Raleway, Arial, sans-serif;
}
.projects-descr {
  margin: 0 0 34px 0;
  width: 769px;
  color: #8c8c8c;
  text-align: center;
  font: 300 16px/28px Montserrat, Arial, sans-serif;
}
.projects-categ {
  margin: 0 0 40px 0;
  width: 605px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.projects-galery {
  margin: 0 0 40px 0;
  width: 1170px;
  min-height: 704px;
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.projects-galery-item {
  margin: 0;
  width: 370px;
  position: relative;
}
.projects-galery-item-img {
  display: block;
}
.projects-galery-item-caption {
  width: 370px;
  padding: 28px;
  box-sizing: border-box;
  background: #fbfaf8;
  position: relative;
}
.projects-galery-item-caption-title {
  display: block;
  color: #c7b299;
  font: 500 20px/1.2 Raleway, Arial, sans-serif;
}
.projects-galery-item-caption-text {
  display: block;
  color: #d1d1d1;
  font: 300 14px/20px Montserrat, Arial, sans-serif;
}
.projects-galery-item-caption::before {
  content: "";
  display: inline-block;
  border: 30px solid transparent;
  border-bottom: 13px solid #fbfaf8;
  position: absolute;
  top: -40px;
  left: 15px;
}
.projects-galery-item:hover .projects-galery-item-img {
  filter: brightness(70%);
}
.projects-galery-item:hover .projects-galery-item-caption {
  background: #362f2d;
}
.projects-galery-item:hover .projects-galery-item-caption-title {
  color: #fff;
}
.projects-galery-item:hover .projects-galery-item-caption-text {
  color: #c7b299;
}
.projects-galery-item:hover .projects-galery-item-caption::before {
  border-bottom-color: #362f2d;
}
.projects-galery-item:hover .projects-galery-btn-link,
.projects-galery-item:hover .projects-galery-btn-search {
  display: block;
}
.projects-galery-btn-link,
.projects-galery-btn-search {
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  fill: #fff;
  position: absolute;
  top: 106px;
  display: none;
}
.projects-galery-btn-link:hover,
.projects-galery-btn-search:hover {
  fill: #c7b299;
}
.projects-galery-btn-link {
  left: 144px;
}
.projects-galery-btn-search {
  right: 144px;
}
.video {
  width: 100%;
  min-height: 705px;
  background: rgba(17, 17, 17, 0.5);
  position: relative;
  display: flex;
}
.video-presentation {
  width: 100%;
  height: 705px;
  object-fit: cover;
}
.video-descr {
  width: 552px;
  position: absolute;
  padding: 209px 684px;
  text-align: center;
}
.video-descr-control {
  width: 100px;
  height: 100px;
  margin: 0 0 36px 0;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
}
.video-descr-control-icon {
  fill: #fff;
}
.video-descr-control:hover .video-descr-control-icon {
  fill: #d3c1ad;
}
.video-descr-control:active .video-descr-control-icon {
  fill: #f4a034;
}
.video-descr-title {
  margin: 0 0 20px 0;
  color: #fff;
  text-transform: capitalize;
  font: 500 30px/1.2 Raleway, Arial, sans-serif;
}
.video-descr-text {
  margin: 0 0 32px 0;
  color: #fff;
  font: 300 16px/23px Montserrat, Arial, sans-serif;
}
.video-descr-time {
  color: #c7b299;
  font: 400 14px/24px Montserrat, Arial, sans-serif;
}
.partners {
  padding: 140px 405px;
  background: url(../img/partners_bg_img.jpg) center / cover no-repeat rgba(17, 17, 17, 0.7);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.partners-link {
  display: block;
}
.partners-link:hover {
  filter: brightness(60%);
}
