.main-btn-big {
  width: 170px;
  min-height: 53px;
  background: #998675;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 3px;
  text-transform: uppercase;
  font: 800 14px/23px Raleway, Arial, sans-serif;
}
.main-btn-big:hover {
  border: 1px solid #998675;
  background: #fff;
  color: #998675;
}
.main-btn-big:active {
  background: #998675;
  color: #fff;
}
.main-btn-small {
  padding: 5px 19px;
  background: #fff;
  color: #8c8c8c;
  border: 1px solid #ebebeb;
  outline: none;
  border-radius: 3px;
  text-transform: capitalize;
  font: 300 14px/21px Montserrat, Arial, sans-serif;
}
.main-btn-small:hover {
  background: #998675;
  color: #fff;
}
.main-btn-small:active {
  background: #fff;
  color: #998675;
}
.container {
  width: 1920px;
  margin: 0 auto;
}
@font-face {
  font-family: 'Montserrat';
  src: local('montserrat-extra-light'), local('Montserrat ExtraLight'), url(../fonts/montserrat/montserrat-extra-light.ttf) format('truetype');
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: local('montserrat-light'), local('Montserrat Light'), url(../fonts/montserrat/montserrat-light.ttf) format('truetype');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: local('montserrat-regular'), local('Montserrat Regular'), url(../fonts/montserrat/montserrat-regular.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), local('raleway-regular'), url(../fonts/raleway/raleway-regular.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: local('raleway-medium'), local('Raleway Medium'), url(../fonts/raleway/raleway-medium.ttf) format('truetype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: local('raleway-semi-bold'), local('Raleway SemiBold'), url(../fonts/raleway/raleway-semi-bold.ttf) format('truetype');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: local('raleway-bold'), local('Raleway Bold'), url(../fonts/raleway/raleway-bold.ttf) format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: local('raleway-black'), local('Raleway Black'), url(../fonts/raleway/raleway-black.ttf) format('truetype');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: local('roboto-regular'), local('Roboto'), url(../fonts/roboto/roboto-regular.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
.logo {
  width: 181px;
  margin: 0 219px 0 0;
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.logo-icon {
  fill: #fff;
}
.logo-caption {
  color: #fff;
  text-transform: capitalize;
  font: 400 34px/1.2 Raleway, Arial, sans-serif;
}
.logo:hover .logo-icon {
  fill: #c7b299;
}
.logo:hover .logo-caption {
  color: #c7b299;
}
.logo:active .logo-icon {
  fill: #f4a034;
}
.logo:active .logo-caption {
  color: #f4a034;
}
.main-header {
  min-height: 1024px;
  padding: 40px 150px;
  background: url(../img/header_bg_photo.jpg) center / cover no-repeat #555;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main-header-wrp {
  width: 1170px;
  margin: 0 auto 285px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main-header-wrp .main-menu {
  width: 637px;
  margin: 0 63px 0 0;
}
.main-header-wrp .main-menu-toggle {
  display: none;
}
.main-header-wrp .main-menu-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main-header-wrp .main-menu-list-item {
  list-style: none;
}
.main-header-wrp .main-menu-list-item-link {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  font: 300 14px/1.2 Montserrat, Arial, sans-serif;
}
.main-header-wrp .main-menu-list-item-link:hover {
  color: #c7b299;
}
.main-header-wrp .main-menu-list-item-link:active {
  color: #f4a034;
}
.main-header-wrp .main-header-cart {
  padding: 0;
  margin: 0 22px 0 0;
  background: transparent;
  border: none;
  fill: #fff;
  cursor: pointer;
}
.main-header-wrp .main-header-cart:hover {
  fill: #c7b299;
}
.main-header-wrp .main-header-cart:active {
  fill: #f4a034;
}
.main-header-wrp .main-header-form {
  position: relative;
}
.main-header-wrp .main-header-form-label-icon {
  width: 28px;
  height: 28px;
  fill: #fff;
}
.main-header-wrp .main-header-form-label-icon:hover {
  fill: #c7b299;
}
.main-header-wrp .main-header-form-search {
  width: 0px;
  min-height: 0px;
  opacity: 0;
  transform: scale(0);
  padding: 5px;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 40px;
  left: -119px;
  color: #fff;
  text-transform: capitalize;
  font: 100 16px/20px Montserrat, Arial, sans-serif;
  transition: opacity 1s linear,
            transform 1s linear,
            width 1s linear;
}
.main-header-wrp .main-header-form-search:focus {
  min-width: 150px;
  min-height: 20px;
  opacity: 1;
  transform: scale(1);
  border: 2px solid #fff;
}
.carousel {
  margin: 0 0 306px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.carousel-arrow {
  display: block;
  width: 40px;
  min-height: 73px;
  position: relative;
}
.carousel-arrow:after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
  left: -25px;
  opacity: .5;
  color: #fff;
}
.carousel-arrow:hover:after {
  border-top: 2px solid #c7b299;
  border-right: 2px solid #c7b299;
}
.carousel-arrow:active:after {
  border-top: 2px solid #f4a034;
  border-right: 2px solid #f4a034;
}
.carousel-arrow:first-child {
  transform: rotateY(180deg);
}
.carousel-slogan {
  width: 597px;
  margin: 0 471px;
  text-align: center;
}
.carousel-slogan-mark {
  margin: 0 0 14px 0;
  color: #fff;
  font: 500 35px/1.2 Raleway, Arial, sans-serif;
}
.carousel-slogan-title {
  margin: 0 0 7px 0;
  color: #fff;
  font: 800 52px/1.2 Raleway, Arial, sans-serif;
}
.carousel-slogan-txt {
  margin: 0 0 52px 0;
  color: #fff;
  font: 300 16px/22px Montserrat, Arial, sans-serif;
}
.carousel-pagination {
  width: 98px;
  margin: 0 auto;
  position: relative;
  top: 317px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.carousel-pagination-elem {
  width: 7px;
  height: 7px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: #fff;
  opacity: .5;
}
.carousel-pagination-elem:hover {
  transform: scale(1.6);
  background: transparent;
  border: 2px solid #d3c1ad;
}
.services {
  padding: 80px 377px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.services-card {
  width: 268px;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.services-card-icon {
  margin: 0 0 29px 0;
  fill: #555;
}
.services-card-title {
  display: block;
  margin: 0 0 14px 0;
  color: #555;
  font: 600 22px/1.2 Raleway, Arial, sans-serif;
}
.services-card-text {
  margin: 0 0 30px 0;
  text-align: center;
  color: #8c8c8c;
  font: 300 14px/21px Montserrat, Arial, sans-serif;
}
.services-card:hover .services-card-icon {
  fill: #c7b299;
}
.services-card:hover .services-card-title {
  color: #c7b299;
}
.services-card::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background: #f1eee9;
}
.services-card:hover::after {
  background: #c7b299;
}
.ideas {
  min-height: 700px;
  padding: 83px 581px 0;
  background-color: #fbfaf8;
  background: url(../img/ideas_bg_img.jpg) bottom / 1230px 482px no-repeat #fbfaf8;
}
.ideas-title {
  width: 769px;
  margin: 0 0 24px 0;
  color: #555;
  text-align: center;
  font: 600 30px/1.2 Raleway, Arial, sans-serif;
}
.ideas-text {
  width: 769px;
  color: #8c8c8c;
  text-align: center;
  font: 300 16px/28px Montserrat, Arial, sans-serif;
}
.theme-purchase {
  padding: 48px 375px;
  background-color: #f4f5f8;
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.theme-purchase-wrp {
  width: 530px;
}
.theme-purchase-wrp-title {
  text-transform: capitalize;
  color: #c7b299;
  font: 400 28px/1.2 Raleway, Arial, sans-serif;
}
.theme-purchase-wrp-title-part {
  color: #fff;
}
.theme-purchase-wrp-text {
  margin: 0;
  color: #615855;
  font: 300 18px/1.2 Montserrat, Arial, sans-serif;
}
.counters {
  padding: 69px 504px 60px 496px;
  background-color: #f4f585;
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.counters-item {
  width: 136px;
  margin: 0;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.counters-item-icon {
  margin: 0 0 26px 0;
  fill: #c7b299;
}
.counters-item-caption {
  text-align: center;
}
.counters-item-caption-count {
  display: block;
  margin: 0 0 10px 0;
  color: #fff;
  font: 200 48px/36px Montserrat, Arial, sans-serif;
}
.counters-item-caption-descr {
  display: block;
  text-transform: uppercase;
  margin: 0 0 30px 0;
  color: #c7b299;
  font: 300 14px/20px Montserrat, Arial, sans-serif;
}
.counters .counters-item::after {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
}
.projects {
  padding: 80px 377px;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.projects-title {
  margin: 0 0 14px 0;
  color: #555;
  font: 600 30px/1.2 Raleway, Arial, sans-serif;
}
.projects-descr {
  margin: 0 0 34px 0;
  width: 769px;
  color: #8c8c8c;
  text-align: center;
  font: 300 16px/28px Montserrat, Arial, sans-serif;
}
.projects-categ {
  margin: 0 0 40px 0;
  width: 605px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.projects-galery {
  margin: 0 0 40px 0;
  width: 1170px;
  min-height: 704px;
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.projects-galery-item {
  margin: 0;
  width: 370px;
  position: relative;
}
.projects-galery-item-img {
  display: block;
}
.projects-galery-item-caption {
  width: 370px;
  padding: 28px;
  box-sizing: border-box;
  background: #fbfaf8;
  position: relative;
}
.projects-galery-item-caption-title {
  display: block;
  color: #c7b299;
  font: 500 20px/1.2 Raleway, Arial, sans-serif;
}
.projects-galery-item-caption-text {
  display: block;
  color: #d1d1d1;
  font: 300 14px/20px Montserrat, Arial, sans-serif;
}
.projects-galery-item-caption::before {
  content: "";
  display: inline-block;
  border: 30px solid transparent;
  border-bottom: 13px solid #fbfaf8;
  position: absolute;
  top: -40px;
  left: 15px;
}
.projects-galery-item:hover .projects-galery-item-img {
  filter: brightness(70%);
}
.projects-galery-item:hover .projects-galery-item-caption {
  background: #362f2d;
}
.projects-galery-item:hover .projects-galery-item-caption-title {
  color: #fff;
}
.projects-galery-item:hover .projects-galery-item-caption-text {
  color: #c7b299;
}
.projects-galery-item:hover .projects-galery-item-caption::before {
  border-bottom-color: #362f2d;
}
.projects-galery-item:hover .projects-galery-btn-link,
.projects-galery-item:hover .projects-galery-btn-search {
  display: block;
}
.projects-galery-btn-link,
.projects-galery-btn-search {
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  fill: #fff;
  position: absolute;
  top: 106px;
  display: none;
}
.projects-galery-btn-link:hover,
.projects-galery-btn-search:hover {
  fill: #c7b299;
}
.projects-galery-btn-link {
  left: 144px;
}
.projects-galery-btn-search {
  right: 144px;
}
.video {
  width: 100%;
  min-height: 705px;
  background: rgba(17, 17, 17, 0.5);
  position: relative;
  display: flex;
}
.video-presentation {
  width: 100%;
  height: 705px;
  object-fit: cover;
}
.video-descr {
  width: 552px;
  position: absolute;
  padding: 209px 684px;
  text-align: center;
}
.video-descr-control {
  width: 100px;
  height: 100px;
  margin: 0 0 36px 0;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
}
.video-descr-control-icon {
  fill: #fff;
}
.video-descr-control:hover .video-descr-control-icon {
  fill: #d3c1ad;
}
.video-descr-control:active .video-descr-control-icon {
  fill: #f4a034;
}
.video-descr-title {
  margin: 0 0 20px 0;
  color: #fff;
  text-transform: capitalize;
  font: 500 30px/1.2 Raleway, Arial, sans-serif;
}
.video-descr-text {
  margin: 0 0 32px 0;
  color: #fff;
  font: 300 16px/23px Montserrat, Arial, sans-serif;
}
.video-descr-time {
  color: #c7b299;
  font: 400 14px/24px Montserrat, Arial, sans-serif;
}
.mobiles {
  padding: 195px 388px 179px;
  background: url(../img/iphone_in_hand.png) 423px 616px no-repeat #fbfaf8;
  background-position: 423px 79px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.mobiles-descr {
  width: 664px;
  text-align: left;
}
.mobiles-descr-title {
  margin: 0 0 30px 0;
  color: #555;
  font: 600 30px/1.2 Raleway, Arial, sans-serif;
}
.mobiles-descr-text {
  margin: 0 0 35px 0;
  color: #8c8c8c;
  font: 300 16px/25px Montserrat, Arial, sans-serif;
}
.mobiles-descr-list {
  list-style: none;
  margin: 0 0 0 50px;
  color: #8c8c8c;
  font: 300 16px/28px Montserrat, Arial, sans-serif;
}
.mobiles-descr-list-item {
  position: relative;
}
.mobiles-descr-list-item::before {
  content: ">";
  width: 21px;
  height: 21px;
  text-align: center;
  line-height: 21px;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
  position: absolute;
  left: -39px;
  top: 3px;
  background: #c7b299;
}
.posts {
  padding: 81px 375px;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.posts-title {
  margin: 0 0 14px 0;
  color: #555;
  font: 600 30px/1.2 Raleway, Arial, sans-serif;
}
.posts-descr {
  margin: 0 0 34px 0;
  width: 769px;
  color: #8c8c8c;
  text-align: center;
  font: 300 16px/28px Montserrat, Arial, sans-serif;
}
.posts-galery {
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.posts-galery-item {
  margin: 0;
  padding: 0 0 28px 0;
  border: 1px solid #f8f8f8;
  width: 370px;
  position: relative;
}
.posts-galery-item-img {
  margin: 0 0 25px 0;
  display: block;
  background: #777;
}
.posts-galery-item-date {
  position: absolute;
  top: 20px;
  left: 20px;
}
.posts-galery-item-date-day {
  display: block;
  padding: 6px 13px;
  background: #363636;
  color: #fff;
  border-radius: 3px 3px 0 0;
  font: 300 20px/24px Montserrat, Arial, sans-serif;
}
.posts-galery-item-date-month {
  display: block;
  padding: 3px 13px;
  background: #252525;
  color: #fff;
  border-radius: 0 0 3px 3px;
  text-transform: capitalize;
  font: 400 12px/20px Roboto, Arial, sans-serif;
}
.posts-galery-item-title {
  margin: 0 0 14px 29px;
  color: #555;
  font: 500 20px/1.2 Raleway, Arial, sans-serif;
}
.posts-galery-item-text {
  color: #8c8c8c;
  margin: 0 0 22px 29px;
}
.posts-galery-item-link {
  margin: 0 0 0 29px;
  color: #c7b299;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
}
.posts-galery-item-text,
.posts-galery-item-link {
  font: 300 14px/20px Montserrat, Arial, sans-serif;
}
.posts-galery-item-link::after {
  content: '';
  border: 5px solid transparent;
  border-left: 5px solid #c7b299;
  position: absolute;
  top: 5px;
  right: -18px;
}
.posts-galery-item:hover .posts-galery-item-img {
  filter: brightness(50%);
}
.posts-galery-item:hover {
  background: #362f2d;
}
.posts-galery-item:hover .posts-galery-item-date-day {
  background: #c7b299;
  color: #fff;
}
.posts-galery-item:hover .posts-galery-item-date-month {
  background: #a48d72;
  color: #fff;
}
.posts-galery-item:hover .posts-galery-item-link:hover {
  color: #fff;
}
.posts-galery-item:hover .posts-galery-item-link:hover.posts-galery-item-link::after {
  border-left: 5px solid #fff;
}
.posts-galery-item:hover .posts-galery-item-link:active.posts-galery-item-link::after {
  border-left: 5px solid #f4a034;
}
.posts-galery-item:hover .posts-galery-item-link:active {
  color: #f4a034;
}
.posts-galery-item:hover .posts-galery-item-title,
.posts-galery-item:hover .posts-galery-item-link {
  color: #c7b299;
}
.posts-galery-item:hover .posts-galery-item-text {
  color: #fff;
}
.posts-galery-nav {
  width: 100%;
  margin: 40px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.posts-galery-nav-btn {
  background: transparent;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 0;
  margin: 0 4px;
}
.posts-galery-nav-btn-icon {
  fill: #c7b299;
}
.posts-galery-nav-btn-icon:hover {
  fill: #d1d1d1;
}
.posts-galery-nav-btn-icon:active {
  fill: #f4a034;
}
.partners {
  padding: 140px 405px;
  background: url(../img/partners_bg_img.jpg) center / cover no-repeat rgba(17, 17, 17, 0.7);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.partners-link {
  display: block;
}
.partners-link:hover {
  filter: brightness(60%);
}
.logo-reset {
  margin: 0 0 20px 0;
}
.logo-reset:hover .logo-reset-icon {
  fill: #fff;
}
.logo-reset:hover .logo-reset-caption {
  color: #fff;
}
.footer-link {
  display: block;
  text-decoration: none;
}
.twitter-mark {
  color: #00bff3;
}
.footer-subfooter-owners {
  color: #959595;
}
.something {
  color: #959595;
}
.footer {
  background: #191919;
}
.footer-content {
  padding: 80px 375px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-content-article {
  width: 261px;
}
.footer-content-article-txt {
  margin: 0 0 20px 0;
  color: #555;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font: 300 14px/24px Montserrat, Arial, sans-serif;
}
.footer-content-article-link {
  margin: 0;
}
.footer-content-article-link:hover {
  color: #fff;
}
.footer-content-article-link:hover::after {
  border-left: 5px solid #fff;
}
.footer-content-article-link:active {
  color: #f4a034;
}
.footer-content-article-link:active::after {
  border-left: 5px solid #f4a034;
}
.footer-content-posts {
  width: 271px;
}
.footer-content-posts-title {
  margin: 0 0 30px 0;
  color: #fff;
  text-transform: capitalize;
  font: 700 24px/1.2px Raleway, Arial, sans-serif;
}
.footer-content-posts-link {
  padding: 21px 0;
  border-bottom: 2px solid #252525;
  color: #555;
}
.footer-content-posts-link-time {
  margin: 0 0 5px 0;
  color: #363636;
  font: 300 12px/20px Montserrat, Arial, sans-serif;
}
.footer-content-posts-link-txt {
  margin: 0;
  color: #555;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font: 300 14px/20px Montserrat, Arial, sans-serif;
}
.footer-content-posts-link:hover .footer-content-posts-link-time {
  color: #fff;
}
.footer-content-posts-link:hover .footer-content-posts-link-txt {
  color: #c7b299;
}
.footer-content-posts-link:active .footer-content-posts-link-time {
  color: #f4a034;
}
.footer-content-posts-link:active .footer-content-posts-link-txt {
  color: #f4a034;
}
.footer-content-posts-link:first-of-type {
  padding: 0 0 21px 0;
}
.footer-content-posts-link:last-of-type {
  border: none;
  padding: 21px 0 0 0;
}
.footer-content-twitter {
  width: 271px;
}
.footer-content-twitter-title {
  margin: 0 0 30px 0;
  color: #fff;
  text-transform: capitalize;
  font: 700 24px/1.2px Raleway, Arial, sans-serif;
}
.footer-content-twitter-link {
  padding: 21px 0;
  border-bottom: 2px solid #252525;
  color: #555;
}
.footer-content-twitter-link-time {
  margin: 0 0 5px 0;
  color: #363636;
  font: 300 12px/20px Montserrat, Arial, sans-serif;
}
.footer-content-twitter-link-txt {
  margin: 0;
  color: #555;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font: 300 14px/20px Montserrat, Arial, sans-serif;
}
.footer-content-twitter-link:hover .footer-content-twitter-link-time {
  color: #fff;
}
.footer-content-twitter-link:hover .footer-content-twitter-link-txt {
  color: #c7b299;
}
.footer-content-twitter-link:active .footer-content-twitter-link-time {
  color: #f4a034;
}
.footer-content-twitter-link:active .footer-content-twitter-link-txt {
  color: #f4a034;
}
.footer-content-twitter-link:first-of-type {
  padding: 0 0 21px 0;
}
.footer-content-twitter-link:last-of-type {
  border: none;
  padding: 21px 0 0 0;
}
.footer-content-widget {
  width: 271px;
}
.footer-content-widget-title {
  margin: 0 0 30px 0;
  color: #fff;
  text-transform: capitalize;
  font: 700 24px/1.2px Raleway, Arial, sans-serif;
}
.footer-content-widget-galery {
  margin: 0;
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer-content-widget-galery-link {
  margin: 2px;
}
.footer-content-widget-galery-link:hover {
  opacity: .5;
}
.footer-content-widget-galery-link:active {
  opacity: 1;
}
.footer-content-widget-galery-img {
  background: #777;
}
.footer-subfooter {
  padding: 45px 375px 52px;
  background: #111;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer-subfooter-rights,
.footer-subfooter-design {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer-subfooter-rights-item,
.footer-subfooter-design-item {
  padding: 0 9px;
  border-right: 1px solid #252525;
  font: 300 13px/13px Montserrat, Arial, sans-serif;
}
.footer-subfooter-rights-item:last-child,
.footer-subfooter-design-item:last-child {
  border: none;
}
.footer-subfooter-link {
  color: #555;
}
.footer-subfooter-link:hover {
  color: #c7b299;
}
.footer-subfooter-link:active {
  color: #f4a034;
}
@media (max-width: 564px) {
  .main-btn-small {
    margin: 5px auto;
  }
  .logo {
    width: auto;
    margin: 0 36px 0 0;
    order: 2;
  }
  .logo-icon {
    width: 100px;
    height: 100px;
  }
  .logo-caption {
    display: none;
  }
  .container {
    width: 100%;
  }
  .main-header {
    padding: 15px;
    min-height: 100vh;
    display: block;
  }
  .main-header-cart {
    display: none;
  }
  .main-header-wrp {
    width: 100%;
    margin: 0 0 120px 0;
    justify-content: space-around;
  }
  .main-header .carousel {
    margin: 0;
  }
  .main-header .carousel-slogan {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .main-header .carousel-slogan-mark {
    display: none;
  }
  .main-header .carousel-slogan-title {
    width: auto;
  }
  .main-header .carousel-slogan-txt {
    text-align: justify;
    text-align-last: center;
    margin: 0 0 20px 0;
  }
  .main-header .carousel-pagination,
  .main-header .carousel-arrow {
    display: none;
  }
  .main-header .main-menu {
    width: auto;
    margin: 0;
  }
  .main-header .main-menu-btn {
    width: 64px;
    display: block;
    position: relative;
    z-index: 101;
    cursor: pointer;
  }
  .main-header .main-menu-btn-center {
    margin: 6px 0;
    display: block;
    width: 100%;
    height: 9px;
    opacity: 1;
    background: #fff;
    transition: background-color 0.5s linear, border-radius 0.3s linear;
  }
  .main-header .main-menu-btn::after,
  .main-header .main-menu-btn::before {
    content: '';
    width: 100%;
    height: 9px;
    display: block;
    background: #fff;
    transition: border-top-left-radius 0.3s linear, border-bottom-right-radius 0.3s linear, background-color 0.3s linear, transform 0.3s linear;
  }
  .main-header .main-menu-btn:hover::after,
  .main-header .main-menu-btn:hover::before {
    background: #2589aa;
    border-top-left-radius: 20px 9px;
    border-bottom-right-radius: 20px 9px;
  }
  .main-header .main-menu-btn:hover .main-menu-btn-center {
    background: #a62a1c;
    border-radius: 9px;
  }
  .main-header .main-menu-list {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #464545;
    position: absolute;
    top: 0;
    left: -100vw;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
    transition: left .3s linear;
  }
  .main-header .main-menu-list-item {
    margin: 20px auto;
  }
  .main-header .main-menu-list-item-link {
    font-size: 25px;
  }
  .main-header .main-menu-toggle:checked ~ .main-menu-btn::after,
  .main-header .main-menu-toggle:checked ~ .main-menu-btn::before {
    border-top-left-radius: 20px 9px;
    border-bottom-right-radius: 20px 9px;
    background: #46d946;
  }
  .main-header .main-menu-toggle:checked ~ .main-menu-btn::before {
    transform: rotate(45deg);
  }
  .main-header .main-menu-toggle:checked ~ .main-menu-btn::after {
    transform: rotate(-45deg);
  }
  .main-header .main-menu-toggle:checked ~ .main-menu-btn > .main-menu-btn-center {
    display: none;
  }
  .main-header .main-menu-toggle:checked ~ .main-menu-list {
    left: 0;
  }
  .main-header-form {
    order: 3;
  }
  .main-header-form-search:focus {
    width: 77vw;
    left: -71vw;
    top: 70px;
  }
  .services {
    padding: 20px 0;
  }
  .services-card {
    margin: 15px auto;
  }
  .services-card:nth-of-type(2) {
    order: 2;
  }
  .services-card:nth-of-type(4) {
    order: 4;
  }
  .ideas {
    display: none;
  }
  .theme-purchase {
    padding: 15px;
    justify-content: center;
  }
  .theme-purchase-wrp {
    text-align: center;
    margin: 0 0 15px 0;
  }
  .theme-purchase-wrp-title {
    margin: 0 0 10px 0;
  }
  .theme-purchase-wrp-text {
    width: 308px;
    margin: 0 auto;
  }
  .projects {
    padding: 15px;
    justify-content: center;
  }
  .projects-descr {
    width: 100%;
    margin: 0 0 13px 0;
  }
  .projects-categ {
    width: 100%;
    flex-direction: column;
    margin: 0 0 20px 0;
  }
  .projects-galery {
    width: 100%;
    justify-content: center;
    margin: 0 0 15px 0;
  }
  .projects-galery-item {
    margin: 0 0 15px 0;
  }
  .video {
    display: none;
  }
  .mobiles {
    padding: 27px;
    min-height: 452px;
    background-position: 27px bottom;
    background-size: 35%;
    align-items: flex-start;
  }
  .mobiles-descr-title {
    margin: 0 0 10px 0;
    text-align: center;
  }
  .mobiles-descr-text {
    margin: 0 0 23px 0;
    text-align: left;
  }
  .mobiles-descr-list {
    margin: 0 0 0 182px;
  }
  .counters {
    padding: 15px 0;
    justify-content: center;
  }
  .counters-item {
    margin: 15px 5px;
  }
  .posts {
    padding: 15px;
  }
  .posts-descr {
    width: 100%;
  }
  .posts-galery {
    width: 100%;
    justify-content: center;
  }
  .posts-galery-item {
    margin: 15px auto;
  }
  .partners {
    padding: 15px 0;
  }
  .partners-link {
    width: 25%;
    text-align: center;
  }
  .partners-link-img {
    width: 80%;
    height: 80%;
  }
  .footer-content {
    display: none;
  }
  .footer-subfooter {
    padding: 15px 0;
    justify-content: center;
  }
  .footer-subfooter-rights {
    margin: 0 0 30px 0;
  }
}
